$background-color: #55c5ff;
$white: #FFF;
$light-blue: #8ad8ff;
$bright-blue: #67defd;
$dark: #212121;
$gray: #B5BBC2;
$green: #5BC538;
$warn: #FFDAD2;
$red: #FF2C37;

$font-md: 1em;
$font-xl: 1.25em;
$font-xxl: 1.5em;
$font-sm: 0.75em;

$font-light: 300;
$font-medium: 400;
$font-bolder: 500;
$font-bold: 600;

$font-montserrat: 'Montserrat', sans-serif;

html{
  font-size: 16px;

}

body{
  background-color: $background-color;
  color: $dark;

  font-size: $font-xl;
  font-family: $font-montserrat;

  display: flex;
  align-items: center;

  width: 100vw;
  height: 100vh;

}

%gray-span{
  font-weight: 500;
  color: $gray;

}

.type-number{
  color: $bright-blue;
  font-size: $font-xxl;

  font-weight: $font-bolder;
  margin-right: 0.1em;

}

.blue-text{
  color: $bright-blue;
  font-weight: $font-bold;

  font-size: 0.85em;

}

.text-active{
  background-color: $green;
  color: #FFF;

  border-radius: 3px;
  padding: 0.1em 0.05em;
  &.text-error{
    background-color: $red;

  }

}

.text-default{
  padding: 0.1em 0.1em 0em 0.1em;
}

.text-done{
  color: $green;

}