.main {
  max-width: 1110px;
  margin: 0 auto;

  &-type{
    display: flex;
    align-self: center;
    justify-self: center;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 0px 0px 40px 2px #2aafcd;
    &-field{
      width: 100%;
      padding: 1.25em;
      background-color: $light-blue;

      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      textarea{

        width: 100%;
        padding: 0.75em 1em 1.5em 1em;

        font-size: $font-md;
        &::-webkit-scrollbar{
          visibility: hidden;

        }
        &.textarea-error{
          background-color: $warn;

        }

      }

    }
    &-text{
      width: 100%;
      background-color: $white;
      padding: 1.25em;

      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;

      line-height: 2em;
      cursor: default;

    }
    .try-again-block{
      cursor: pointer;
      display: inline;
      svg{
        fill: $white;
        margin-right: 0.35em;


      }

    }

  }
  .typing-stats{
    >div{
      display: flex;
      align-items: center;

      font-weight: $font-bold;
      color: $gray;

    }
    svg{
      margin-right: 0.35em;
      fill: $gray;

    }
    .typing-stats-block{
      align-items: baseline;
      line-height: 1.75em;

    }

  }

}
