.modal{
  background-color: rgba(34, 167, 240, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  justify-content: center;
  align-items: center;
  &-content{
    background-color: $white;
    max-width: 800px;
    height: 450px;

    border-radius: 20px;
    border: none;

    box-shadow: 1px 1px 10px 2.5px #D1F3FF;
    .form-group{
      width: 12.5em;
      display: flex;
      margin-left: auto;

      padding: 30px 40px 0px 0px;
      position: relative;
      border: none;
      .form-control{
        border: none;
        padding: 0em;

        color: $dark-gray;
        &:focus{
          box-shadow: none;

        }
        option{
          border: none;
        }

      }
      &:after{
        content: url("../img/computer-peripherals.svg");
        position: absolute;
        left: -26px;
        top: 33.5px;

      }

    }

  }

}
