html {
  font-size: 16px; }

body {
  background-color: #55c5ff;
  color: #212121;
  font-size: 1.25em;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh; }

.type-number {
  color: #67defd;
  font-size: 1.5em;
  font-weight: 500;
  margin-right: 0.1em; }

.blue-text {
  color: #67defd;
  font-weight: 600;
  font-size: 0.85em; }

.text-active {
  background-color: #5BC538;
  color: #FFF;
  border-radius: 3px;
  padding: 0.1em 0.05em; }

.text-default {
  padding: 0.1em 0.1em 0em 0.1em; }

.text-done {
  color: #5BC538; }
